/* universal settings*/
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1em;
}

/* recurring settings */


.divider { 
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.transition {
    height: 100%;
    margin-bottom: -1px;
}

.split-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.split-line {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
article {
    margin: 3vh;
    text-align: center;
}

/* nav bar */

nav {
    width: 100%;
    height: 10.5vh;
    background-image: url(./Images/svg-parts/Naviborder.svg);
    display: inline-block;
    font-size: 5vw;
}

#burger {
    height: 70%;
    width: 10vh;
    margin-top: 0.5vh;
}

details {
    margin-left: 7vw;
}

details summary {
    color: white;
    cursor: pointer;
    list-style: none;
}

/* Page 1 */

#page-1 {
    background-image: url(./Images/backgrounds/sky.jpg);
    background-color: #11b43e;
    background-repeat: repeat;
    background-size: contain;
    margin-bottom: -1px;

}

#skyline {
    /* This is the area the Balloon can float in */
    height: 40vw;
    display: flex;
    flex-direction: row-reverse;
}
#balloon {
    aspect-ratio: 1/1;
}

#hill-main {
    max-height: 100%;
    min-height: 60vh;
    padding-right: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(./Images/svg-parts/hill-right.svg), url(./Images/svg-parts/hill-left.svg);
}
#introduction {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#introduction p {
    background-color: rgb(0, 110, 0);
    border-radius: 3vh;
    color: white;
    padding: 1vh;
}

#profile {
    aspect-ratio: 1/1;
    width: 50%;
    margin-left: 20%;
}

#grass-dirt {
    background-color: #11b43e;
}

/* page 2 */

#page-2 {
    background-color: rgb(150, 135, 59);
    background-image: url(./Images/backgrounds/pete-points.png);
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#n-logo {
    width: 50vw;
    margin-bottom: 3vh;
}

.learning-point {
    display: flex;
    align-items: center;
    min-width: 25vw;

}
.bullet {
    margin: 1vw;
}

#dirt-deep {
    background-color: #96873B;
}

/* page 3 */

#page-3 {
    background-color: #724126;
    background-image: url(./Images/backgrounds/rocks-less-populated.png);
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(156, 156, 19);
}

.project {
    background-color: #7F7E7E;
    opacity: 0.6;
    width: 60vw;
    border-radius: 2vh;
    aspect-ratio: 15/ 8;
}
#project-intro {
    background-color: transparent;
    opacity: 1;
    display: flex;
    align-items: center;
}
h2 {
    /* This enables spacing neatness */
    min-height: 1em;
}

#this-page {
    background-image: url(./Images/Assets/This\ Webpage.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

#deep-stone {
    background-color: #724126;
}

#page-4 {
    background-color: #7F7E7E;
    background-image: url(./Images/backgrounds/fossil\ backdrop.png);
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5vh;
}

.icon {
    aspect-ratio: 17/15;
    height: 10vh;
    width: 10vh;
}


/* responsive design controlls*/

@media screen and (min-width: 350px) {

    .split-body {
        flex-direction: row;
    }
    h1 {
        font-size: 1.5em;
    }

    /* page 3 */
    .project {
        width: 35vw;
    }

    /* page 4 */
    #contact {
        flex-direction: row;
    }
}

@media screen and (min-width: 675px) {
    
    .split-body{
        flex-direction: column;
    }
    .split-line {
        flex-direction: row;
    }
    h1 {
        font-size: 2em;
    }

    /* page 1 */
    #profile {
        height: 160px;
        width: 160px;
    }
    #page-1 {
        font-size: 1.2em;
    }
    nav {
        font-size: 2.5em;
    }
    #skyline {
        max-height: 350px;
    }

    /* page 2 */
    #n-logo {
        width: 310px;
    }

    /* page 3 */
    #page-3 {
        font-size: 1.2em;
    }

    .project {
        height: 20vh;
        width: 20vw;
        max-width: 240px;
    }

    /* page 4 */
    .icon {
        height: 17vh;
        width: 17vh;
    }
}

/* Fin */